{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenido al dashboard de Pauta Digital</h1>
        </div>
        <div class="row">
            <h3>Marcas del Cliente: {{object.name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                {% for brand in brands %}
                <li class="list-group-item">{{brand.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}