{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Bienvenido al dashboard de Pauta Digital</h1>
    </div>
    <div class="row">
      <h3>¿ Qué deseas hacer hoy ?</h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          {% load static %}
          <img class="card-img-top" src='{% static "/img/clients.png" %}' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Listado de clientes, en este modulo puedes observar las marcas pertenecientes a cada
              cliente.</p>
            <a href="{% url 'listado_clientes' %}" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'img/facturas.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Facturas</h5>
            <p class="card-text">Listado de facturas, en este modulo puedes observar y descargar las facturas.</p>
            <a href="{% url 'listado_facturas' %}" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}