{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenido al dashboard de Pauta Digital</h1>
        </div>
        <div class="row">
            <h3>Facturas</h3>
        </div>
    </div>
    <div class="row">
        {% for invoice in invoices %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{invoice.invoice_number}}</h5>
                    <a href="{% url 'download_file' invoice.document %}" class="btn btn-primary card-link">DescargarFactura</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}